{% extends "base.html" %}
{% block title %}Productos{% endblock %}

{% block content %}
<h2>Productos en MySQL</h2>

<p><a href="{{ url_for('inventario.producto_nuevo') }}">+ Nuevo producto</a></p>

<table border="1" cellpadding="6">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Acciones</th>
  </tr>
  {% for p in productos %}
  <tr>
    <td>{{ p.id_producto }}</td>
    <td>{{ p.nombre }}</td>
    <td>{{ p.descripcion }}</td>
    <td>{{ p.precio }}</td>
    <td>{{ p.stock }}</td>
    <td>
      <a href="{{ url_for('inventario.producto_editar', id_producto=p.id_producto) }}">Editar</a>
      |
      <a href="{{ url_for('inventario.producto_eliminar', id_producto=p.id_producto) }}" onclick="return confirm('¿Desea eliminar este producto?')">Eliminar</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}